@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
  }
  
  .navbar-fullwidth {
    width: 100vw;
  }
  
  .bg-login {
    background-image: url('assets/IndLocaline.png'); /* Adjust the path as necessary */
    background-size: cover;
    background-position: center;
  }